



.hireus-modal{
  z-index: 9999999;
}
.main-md-div {
    width: 100%;
    height: 100%;
    display: table;
}
.modal-dialog {
    width: 100%;
    height: 100%;
    margin: 0px auto;
}

.modal-dialog .modal-content {
    box-shadow: none;
    border: none;
    height: 100%;
    border-radius: 0px;
}

.modal-dialog .modal-content .modal-body {
    padding: 0px;
    position: relative;
    height: 100%;
}

.modal-dialog .modal-content .modal-body .main-md-div {
    width: 100%;
    height: 100%;
    display: table;
}

.fade-scale {
    opacity: 0;
    -webkit-transition: all .25s cubic-bezier(.19, 1.01, .65, 1.05);
    -o-transition: all .25s cubic-bezier(.19, 1.01, .65, 1.05);
    transition: all .25s cubic-bezier(.19, 1.01, .65, 1.05);
}

.fade-scale.in {
    opacity: 1;
}

.md-sidepanel {
    background: linear-gradient(159.6deg, #0850c7 0%, #0d127b 100%);
    position: absolute;
    left: 0px;
    width: 32%;
    height: 100%;
    padding: 56px 64px 32px 96px;
    overflow-y: auto;
    overflow-x: hidden;
}

.md-sidepanel h2.main-title {
    color: #FFFFFF;
    font-size: 50px;
    font-weight: 300;
    letter-spacing: -0.29px;
    line-height: 60px;
    margin-top: 0px;
    margin-bottom: 15px;
}

.md-sidepanel p.main-text {
    color: rgba(255, 255, 255, 0.62);
    font-size: 18px;
    letter-spacing: -0.1px;
    line-height: 28px;
    font-weight: 400;
}

.md-sidepanel .md-testimonial {
    margin: 64px 0px 78px;
}

.md-sidepanel .md-testimonial .quote-img {
    margin-left: -30px;
    margin-top: -16px;
    margin-bottom: 12px;
    transform: scale(0.8);
}

.md-sidepanel .md-testimonial .mdt-text {
    color: rgba(255, 255, 255, 0.87);
    font-size: 17px;
    font-style: italic;
    text-align: left;
    padding-right: 34px;
    margin-bottom: 26px;
    line-height: 28px;
}

.md-sidepanel .md-testimonial h4.tmdt-meta-author {
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.md-sidepanel .md-testimonial h6.tmdt-meta-desc {
    color: rgba(255, 255, 255, 0.4);
    font-weight: 500;
    font-size: 14px;
}

.md-sidepanel .md-our-offices {
    margin: 48px 0px 0px;
}

.md-sidepanel .md-our-offices h2.moo-title {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: -0.1px;
    color: #fff;
    line-height: 24px;
    margin-top: 32px;
}

.md-sidepanel .md-our-offices ul.office-list {
    padding: 0px;
    list-style-type: none;
    text-align: left;
    margin-top: 24px;
}

.md-sidepanel .md-our-offices ul.office-list li {
    display: inline-block;
    width: calc(50% - 6px);
    padding-right: 16px;
    margin-right: 4px;
    margin-top: 8px;
    margin-bottom: 16px;
    vertical-align: top;
}

.md-sidepanel .md-our-offices ul.office-list li p.moo-c-name {
    font-size: 18px;
    line-height: 16px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 20px;
}

.md-sidepanel .md-our-offices ul.office-list li p.moo-address {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
}

.md-content-panel {
    background-color: #fff;
    position: absolute;
    right: 0px;
    width: 68%;
    height: 100%;
    padding: 48px 56px;
    overflow-y: auto;
}

.md-content-panel .md-close-btn {
    position: absolute;
    right: 42px;
    top: 32px;
    font-size: 42px;
    opacity: 0.4;
    font-weight: 300;
    width: 64px;
    outline: none !important;
    height: 64px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    z-index: 7;
}

.md-content-panel .md-close-btn:hover,
.md-content-panel .md-close-btn:focus {
    opacity: 1;
}

.md-content-panel .md-close-btn span {
    vertical-align: middle;
    line-height: 1;
}

.md-content-panel .md-form-container {
    margin: auto;
    width: 100%;
    max-width: 600px;
}

.md-content-panel .md-form-container .mdc-title {
    color: #141827;
    font-size: 32px;
    line-height: 38px;
    font-weight: 400;
}

.md-content-panel .md-form-container .mdc-text {
    color: rgba(20, 24, 39, 0.6);
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    margin-bottom: 42px;
}

.md-content-panel .md-form-container .md-or {
    margin: 40px 0px 32px;
    color: rgba(20, 24, 39, 0.41);
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 19px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
}

.md-content-panel .md-form-container .md-business-meta {
    color: #242C3A;
    font-size: 16px;
    text-align: center;
    font-weight: 400;
    margin-top: 0px;
    line-height: 24px;
}

.md-content-panel .md-form-container .md-business-meta a {
    color: #206BF2;
    font-size: 16px;
    font-weight: 600;
}

@media screen and (max-height: 840px) {

    .md-sidepanel {
        padding: 40px 42px 32px 76px;
    }

    .md-content-panel {
        padding: 24px 56px;
    }
    .md-sidepanel p.main-text {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 0px;
    }
    .md-content-panel .md-form-container .mdc-text {
        margin-bottom: 24px;
        line-height: 24px;
        font-size: 14px;
    }

    .lead-form.other-pages {
        padding: 0px 30px;
    }

    .md-content-panel .md-close-btn {
        top: 24px;
    }

    .md-sidepanel .md-our-offices ul.office-list {
        margin-bottom: 0px;
    }

    .md-sidepanel h2.main-title {
        font-size: 40px;
        line-height: 1.2;
    }

    .md-sidepanel .md-testimonial {
        margin: 48px 0px 48px;
    }

    .md-sidepanel .md-testimonial .quote-img {
        transform: scale(0.64);
        margin-top: 0px;
        margin-bottom: 3px;
    }

    .md-sidepanel .md-testimonial .mdt-text {
        font-size: 16px;
        line-height: 25px;
    }
    .md-content-panel .md-form-container .md-or {
        margin: 24px 0px;
    }
}

